* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    left: 0; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    border-bottom: 1px solid #f1f1f1;   
}

.logo h1 {
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: color 0.3s;
    font-size: 0.8rem;
}

.nav-links a:hover {
    color: #ffcc00;
}

/* Estilos generales para el menú hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 24px; /* Ajuste del ancho */
    height: 20px; /* Ajuste de la altura */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 20;
    position: relative;
}

.hamburger span {
    width: 100%;
    height: 2px; /* Grosor de las barras */
    background: black;
    border-radius: 2px;
    transition: all 0.3s ease;
    position: relative; /* Esto asegura que las líneas se posicionen correctamente */
}

/* Transformaciones para la "X" */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
    position: absolute;
}

.hamburger.active span:nth-child(2) {
    opacity: 0; /* Desaparece la barra del medio */
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 0;
    position: absolute;
}
.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slide 12s infinite;
    
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.test-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.card p {
    font-size: 1rem;
    color: #555;
}

.pag-test-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* responsive */

/* Ajustes generales para pantallas pequeñas */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        border-top: 1px solid #ccc;
        z-index: 10;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .nav-links a {
        font-size: 1.2rem;
        color: black;
    }

    .testimonials-container {
        grid-template-columns: 1fr;
        transition: margin-top 0.3s ease;
    }

    /* Ajuste de margen cuando el menú está activo */
    main.menu-open {
        margin-top: 500px; /* Ajusta el valor según la altura del menú desplegado */
    }
}

/* Ajustes para pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
    nav {
        padding: 1.5rem 2rem;
    }

    .nav-links {
        gap: 0.8rem;
    }

    .testimonials-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .pag-test-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Ajustes para pantallas grandes */
@media (min-width: 1025px) {
    nav {
        padding: 2rem 3rem;
    }

    .nav-links {
        gap: 1rem;
    }
}


